<!-- La reponse du serveur sera disponible sous cet alias as faceSnap -->
<div
  class="face-snap-card"
  *ngIf="faceSnap$ | async as faceSnap"
  [ngClass]="{ liked: isLiked }"
>
  <!-- Si on ne met pas de / avant facesnaps, l'url essaira d'ajouter facesnaps à l'url après l'id -->
  <!-- Pour naviguer vers une route absolue (et non relative), n'oubliez pas d'ajouter un  /  au début de la route demandée. -->
  <!-- Car c'est une route dynamique qui est générée à chaque fois -->
  <a routerLink="/facesnaps">⬅️BACK</a>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  @if (faceSnap.location | titlecase) {
  <p>Localisation : {{ faceSnap.location | lowercase }}</p>
  } @else {
  <p>Pas de localisation</p>
  }
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p>
    Facesnap crée le {{ faceSnap.createdDate | date : "d MMMM yyyy, à HH:mm" }}
  </p>
  <!-- <p>{{ 44645646.31 | number : "1.0-1" }}</p> -->
  <!-- <p>{{ largeNumber | number : "1.0-1" }}</p>
  <p>{{ percentNumber | percent : "1.0-3" }}</p>
  <p>{{ currencyNumber | currency : "EUR" : "code" : "1.0-0" }}</p> -->

  <p>
    <button (click)="onLike()">{{ txtLikeButton }}</button>👍
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">
      {{ faceSnap.snaps }}
    </span>
  </p>
</div>
