<div class="face-snap-card">
  <h2>{{ faceSnap.title }}</h2>
  @if (faceSnap.location) {
  <p>Localisation : {{ faceSnap.location }}</p>
  } @else {
  <p>Pas de localisation</p>
  }
  <img [src]="faceSnap.imgUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p>Facesnap crée le {{ faceSnap.createdDate }}</p>

  <p>
    <button (click)="onLike()">{{ txtLikeButton }}</button>👍
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.likeNb + ', 0)' }">
      {{ faceSnap.likeNb }}
    </span>
  </p>
</div>
